[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false
[user]
	email = i@flr.me
	name = dearfl
[init]
	defaultBranch = main
[diff]
    tool = nvimdiff
    prompt = false
    colorMoved = default
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "difft"]
    cmd = "difft \"$LOCAL\" \"$REMOTE\""
[pager]
    difftool = false
[alias]
    dft = difftool
[delta]
    navigate = true
    light = false
[merge]
    conflictstyle = diff3

[url "git@github.com:"]
	insteadOf = https://github.com
