# xinput list >> ~/log
# kbid=$(xinput list | sed -n 's/.*Translated.*id=\([0-9]*\).*key.*/\1/p')
# [ "$kbid" ] && setxkbmap -device "$kbid" -model pc105 -layout us -variant norman -option ctrl:swapcaps

export EDITOR=/usr/bin/vim

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

#export QT_AUTO_SCREEN_SCALE_FACTOR=0
#export QT_SCALE_FACTOR=1.75
#export GTK_SCALE_FACTOR=1.75
